In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
tf.__version__

'2.9.1'

## Get all data form csv

In [3]:
df = pd.read_csv('../data/salaries_by_college_major.csv')

In [4]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

### checking the datatypes to normalize it

In [5]:
df.dtypes

Undergraduate Major                   object
Starting Median Salary               float64
Mid-Career Median Salary             float64
Mid-Career 10th Percentile Salary    float64
Mid-Career 90th Percentile Salary    float64
Group                                 object
dtype: object

In [6]:
df.shape

(51, 6)

In [7]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

### checking if there are any na/nulls or invalid data

In [8]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [9]:
df = df.dropna()

In [11]:
df['Starting Median Salary'].max()

74300.0

### checking max and min indexes of the data.

In [16]:
df['Starting Median Salary'].idxmax(), df['Starting Median Salary'].idxmin()

(43, 49)

### Checking the data at max and min index

In [19]:
df.loc[43], df.loc[49]

(Undergraduate Major                  Physician Assistant
 Starting Median Salary                           74300.0
 Mid-Career Median Salary                         91700.0
 Mid-Career 10th Percentile Salary                66400.0
 Mid-Career 90th Percentile Salary               124000.0
 Group                                               STEM
 Name: 43, dtype: object,
 Undergraduate Major                  Spanish
 Starting Median Salary               34000.0
 Mid-Career Median Salary             53100.0
 Mid-Career 10th Percentile Salary    31000.0
 Mid-Career 90th Percentile Salary    96400.0
 Group                                   HASS
 Name: 49, dtype: object)

### Now that we've found the major with the highest starting salary, can you write the code to find the following:

- What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is  defined as having 10+ years of experience).

- Which college major has the lowest starting salary and how much do graduates earn after university?

- Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?